:root {
  --bg-color: #f8ede3;
  --main-color: #678e48;
  --gray-color: #b0b29f;
  --accent-color: #d6ff92;
  --red-color: #ffb0b0;
  --black-color: #252624;
}

.bg-bg {
  background-color: var(--bg-color);
}
.bg-main {
  background-color: var(--main-color);
}
.bg-gray {
  background-color: var(--gray-color);
}
.bg-accent {
  background-color: var(--accent-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-black {
  background-color: var(--black-color);
}

.text-bg {
  color: var(--bg-color);
}
.text-main {
  color: var(--main-color);
}
.text-gray {
  color: var(--gray-color);
}
.text-accent {
  color: var(--accent-color);
}
.text-red {
  color: var(--red-color);
}
.text-black {
  color: var(--black-color);
}

.border-bg {
  border-color: var(--bg-color);
}
.border-main {
  border-color: var(--main-color);
}
.border-gray {
  border-color: var(--gray-color);
}
.border-accent {
  border-color: var(--accent-color);
}
.border-red {
  border-color: var(--red-color);
}
.border-black {
  border-color: var(--black-color);
}
