* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-width: 0;
}

.nav-tab {
  transition: all 300ms ease-in-out;
  position: relative;
  color: black;
  text-decoration: none;
}
.nav-tab:hover {
  color: var(--main-color);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.active-tab {
  color: var(--main-color);
}

.active-tab::after {
  position: absolute;
  content: " ";
  width: 100%;
  left: 0;
  bottom: -5px;
  border-bottom: 1px solid var(--main-color);
  transition: all 300ms ease-in-out;
}

.btn-primary:hover {
  background-color: var(--accent-color);
  color: black;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.item {
  width: 20%;
}
/* Style pour cacher l'iframe */
.hidden {
  display: none;
}

.hoverscale {
  transition: all 200ms ease-in-out;
}

.hoverscale:hover {
  scale: 0.96;
  transition: all 200ms ease-in-out;
  opacity: 0.8;
}

/* MODAL */

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}
.modal-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.modal-window > div {
  border-radius: 1rem;
}
.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}
.logo {
  max-width: 150px;
  display: block;
}
small {
  color: lightgray;
}
.modal-btn {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  text-decoration: none;
}
.modal-btn i {
  padding-right: 0.3em;
}
