* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-width: 0;
}

.nav-tab {
  transition: all 300ms ease-in-out;
  position: relative;
  color: black;
  text-decoration: none;
}
.nav-tab:hover {
  color: var(--main-color);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.active-tab {
  color: var(--main-color);
}

.active-tab::after {
  position: absolute;
  content: " ";
  width: 100%;
  left: 0;
  bottom: -5px;
  border-bottom: 1px solid var(--main-color);
  transition: all 300ms ease-in-out;
}

.btn-primary:hover {
  background-color: var(--accent-color);
  color: black;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
} 

.item {
  width: 30%;
}

